doctype 5
html(lang="en")
    head
        title Catalogue
        link(rel="stylesheet", href="/stylesheets/client.css")
        block head
    body
        #header
          form(id='search', action='/', method='GET')
              input(type='text', name='keywords', placeholder='keywords')
              input(type='submit', value='Search')

        block content
        script(type="text/javascript", src="/client.js")