extends layout

block title
  = 'Search Results'

block head
    link(rel="stylesheet", href="/stylesheets/search.css")

block results
    #count
        span= results.total
        &nbsp;
        span Items

    ul
        each hit in results.hits
            li
                a(href= '/items/' + hit.id, title = hit.name)= hit.name
